.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# wrangler files
.wrangler
.dev.vars

#dexie files
dexie-cloud.key
dexie-cloud.json

/.backups

#generated PWA icons
static/assets/apple-touch-icon-180x180.png
static/assets/favicon.ico
static/assets/favicon.svg
static/assets/maskable-icon-512x512.png
static/assets/site.webmanifest
static/assets/pwa-192x192.png
static/assets/pwa-512x512.png
static/assets/pwa-64x64.png