@use "@picocss/pico/scss/pico" with (
    $semantic-root-element: "#root",
);

//Undo unhelpful pico
button[type=submit] {
    display: inline-block;
    width: unset;
}
header > h1 {
    margin-top: var(--pico-typography-spacing-vertical);
}