.l-switcher {
    display: flex;
    flex-wrap: wrap;
    --l-switcher-threshold: 50rem;
    --l-switcher-modifier: calc(var(--l-switcher-threshold) - 100%);
    gap: var(--l-switcher-gap, var(--space-m));
}
.l-switcher > * {
    flex-grow: 1;
    flex-basis: calc(var(--l-switcher-modifier) * 999);
}
.l-cluster-r,
.l-cluster-l {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.l-cluster-r {
    justify-content: end;
}
.l-cluster-l {
    justify-content: start;
}