@layer utilities {
    .u-guttered {
        padding: var(--space-m);
        margin-inline: auto;
        max-inline-size: 60ch;
    }

    .u-guttered-lg {
        padding: var(--space-m);
        margin-inline: auto;
        max-inline-size: 90ch;
    }

    a.u-link-block {
        display: block;
        height: 100%;
        color: unset;

        &:link {
            text-decoration: none;
        }
    }

    .u-error {
        background-color: lightcoral;
        color: darkred;
        padding: 0.5em;
    }

    .u-success {
        background-color: lightgreen;
        color: darkgreen;
        padding: 0.5em;
    }

    .u-nav-link {
        color: var(--primary-11);
        background-color: transparent;
        padding: var(--space-xs);
        padding-left: var(--space-m);
        font-size: var(--step-0);
        align-items: center;

        &:hover, &:focus {
            background-color: var(--primary-4);
            color: var(--primary-12);
        }
    }

    .u-cascading-bg {
        background-color: var(--u-cascading-bg);
    }

    @media (max-width: 512px) {
        .u-desktop-only {
            display: none;
        }
    }

    @media (min-width: 513px) {
        .u-mobile-only {
            display: none;
        }
    }

    @media (min-width: 513px) {
        .u-desktop-scrollbars-y {
            overflow-y: auto;
        }

        .u-styled-scrollbars {
            --u-styled-scrollbars-fg: var(--primary-4);
            --u-styled-scrollbars-bg: var(--primary-2);
            scrollbar-color: var(--u-styled-scrollbars-fg) var(--u-styled-scrollbars-bg);
            scrollbar-width: thin;

            ::-webkit-scrollbar-corner &::-webkit-scrollbar {
                width: 0.5rem;
                height: 0.5rem;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--u-styled-scrollbars-fg);
            }

            &::-webkit-scrollbar-track {
                background: var(--u-styled-scrollbars-bg);
            }
        }
    }
}
