a.u-link-block {
    display: block;
    height: 100%;
    color: unset;
    &:link {
        text-decoration: none;
    }
}
.u-error {
    background-color: lightcoral;
    color: darkred;
    padding: 0.5em;
}
.u-success {
    background-color: lightgreen;
    color: darkgreen;
    padding: 0.5em;
}